html{
	font-size: 16px;
	min-width: 360px;
	@include clearspace;
}

body{
	background: $background-colour;
	// font: $font-primary;
	font-size: 16px;
	@include clearspace;
}

a { text-decoration: none;
    color: $hyperlink-colour;
	&:hover{
	text-decoration: underline;
	}
}


p {   font-family: $font-primary;}

#{headings()} {
    font-family: $font-primary;
    font-weight: 400;
    font-size: $hp-title;
    line-height: auto;
}

a.blocklink article h2{
		font: $font-primary;
		color: $primary-text-colour;
}


q {
  quotes: "“" "”" "‘" "’";
}