
.header-leadimage{
		background-image: none;
		height: 500px;
		@include breakpoint(md){
		@include fullwidthImage ('../images/feature-images/feature_jodrell-main.jpg');
		background-position: 0px 90%!important;
	}
}


.header-leadimage-mobile{
		height: 400px;
 		background-size: cover !important;
		@include fullwidthImage ('../images/feature-images/feature_jodrell-main.jpg');
		display: block;
			@include breakpoint(md){
			display: none;
			}
}




// -------------------- FEATURES -------------------- // 

// --------------- Lemn Sissay Feature -------------- // 

.feature-lemn-sissay_sm{
		@include backImage ('../images/feature-images/feature_lemn-graffiti-background_lg.jpg');
}
.feature-lemn-sissay_lg{
		@include fullwidthImage ('../images/feature-images/feature_lemn-main.jpg');
}




// --------------- An adventure through campus -------------- // 

.feature-campus-adventure_sm{
		@include backImage ('../images/feature-images/feature_kids-on-campus-sm.jpg');
}
.feature-campus-adventure_lg{
		@include fullwidthImage ('../images/feature-images/feature_kids-on-campus_lg.jpg');
}





// --------------- 2d Materials -------------- // 

.feature-2d-materials_sm{
		@include backImage ('../images/feature-images/feature_2D-materials_lg.jpg');
}
.feature-2d-materials_lg{
		@include fullwidthImage ('../images/feature-images/feature_2D-materials_lg.jpg');
}


// --------------- BES -------------- // 

.feature-bes_sm{
		@include backImage ('../images/feature-images/feature_bes-lg.jpg');
}
.feature-bes_lg{
		@include fullwidthImage ('../images/feature-images/feature_bes-lg.jpg');
}


// --------------- GDI -------------- // 

.feature-gdi_sm{
		@include backImage ('../images/feature-images/feature_gdi-sm.jpg');
}
.feature-gdi_lg{
		@include fullwidthImage ('../images/feature-images/feature_gdi-sm.jpg');
}




// --------------- Nursing -------------- // 

.feature-nursing_sm{
		@include backImage ('../images/feature-images/feature_nursing-lg.jpg');
}
.feature-nursing_lg{
		@include fullwidthImage ('../images/feature-images/feature_nursing-lg.jpg');
}




// ---------------------- Issue two ---------------------- // 
// ------------------------------------------------------- // 



// --------------- HCRI Humanitarian Crisis -------------- // 

.feature_hcri-sm {
		@include backImage ('../images/feature-images/feature_hcri-sm.jpg');
}
.feature_hcri-lg{
		@include fullwidthImage ('../images/feature-images/feature_hcri-lg.jpg');
}


// --------------- Jodrell-------------- // 

.feature_jodrell-sm {
		@include backImage ('../images/feature-images/feature_jodrell-sm.jpg');
}
.feature_jodrell-lg{
		@include fullwidthImage ('../images/feature-images/feature_jodrell-lg.jpg');
}



// --------------- Campus Masterplan -------------- // 

.feature_masterplan-sm {
		@include backImage ('../images/feature-images/feature_masterplan-sm.jpg');
}
.feature_masterplan-lg{
		@include fullwidthImage ('../images/feature-images/feature_masterplan-lg.jpg');
}




// --------------- Qstep -------------- // 

.feature_qstep-sm {
		@include backImage ('../images/feature-images/feature_qstep-sm.jpg');
}
.feature_qstep-lg{
		@include fullwidthImage ('../images/feature-images/feature_qstep-lg.jpg');
}




// --------------- Music in communities -------------- // 

.feature_halleoojamaflipaphone-sm {
		@include backImage ('../images/feature-images/feature_halleoojamaflipaphone-sm.jpg');
}
.feature_halleoojamaflipaphone-lg{
		@include fullwidthImage ('../images/feature-images/feature_halleoojamaflipaphone-lg.jpg');
}




// --------------- Student of the Year soty -------------- // 

.feature_soty-sm {
		@include backImage ('../images/feature-images/feature_soty-sm.jpg');
}
.feature_soty-lg{
		@include fullwidthImage ('../images/feature-images/feature_soty-lg.jpg');
}


// --------------- Lemur frog -------------- // 

.feature_lemurfrog-sm {
		@include backImage ('../images/feature-images/feature_lemurfrog-sm.jpg');
}
.feature_lemurfrog-lg{
		@include fullwidthImage ('../images/feature-images/feature_lemurfrog-lg.jpg');
}


// --------------- Industrial Biotech -------------- // 

.feature_industrialbiotech-sm {
		@include backImage ('../images/feature-images/feature_industrialbiotech-sm.jpg');
}
.feature_industrialbiotech-lg{
		@include fullwidthImage ('../images/feature-images/feature_industiralbiotech-lg.jpg');
}


// --------------- Jom O'neill - powerhouse -------------- // 

.feature_powerhouse-sm {
		@include backImage ('../images/feature-images/feature_powerhouse-sm.jpg');
}
.feature_powerhouse-lg{
		@include fullwidthImage ('../images/feature-images/feature_powerhouse-lg.jpg');
}











// --------------- OPINION -------------- // 


// --------------- Tanja Muller -------------- // 

.opinion-tanja-muller-sm {
		@include opinionImage-sm ('../images/opinion-images/opinion_tanja-muller-sm.png');
}
.opinion-tanja-muller_lg{
		@include opinionImage-lg ('../images/opinion-images/opinion_tanja-muller-lg.jpg');
}

// --------------- kevin-anderson -------------- // 

.opinion-kevin-anderson-sm {
		@include opinionImage-sm ('../images/opinion-images/opinion_kevin-anderson-sm.png');
}
.opinion-kevin-anderson_lg{
		@include opinionImage-lg ('../images/opinion-images/opinion_kevin-anderson-lg.jpg');
}

// --------------- Clarissa Giebel -------------- // 

.opinion-clarissa-giebel-sm {
		@include opinionImage-sm ('../images/opinion-images/opinion_clarissa-giebel-sm.png');
}
.opinion-clarissa-giebel_lg{
		@include opinionImage-lg ('../images/opinion-images/opinion_clarissa-giebel-lg.jpg');
}





// --------------- rathaven-gunaratnarajah -------------- // 

.opinion-rathaven-gunaratnarajah-sm {
		@include opinionImage-sm ('../images/opinion-images/opinion_rathaven-gunaratnarajah-sm.jpg');
}
.opinion-rathaven-gunaratnarajah_lg{
		@include opinionImage-lg ('../images/opinion-images/opinion_rathaven-gunaratnarajah-lg.jpg');
}


// --------------- Chris Martin -------------- // 

.opinion-chris-martin-sm {
		@include opinionImage-sm ('../images/opinion-images/opinion_chris-martin-sm.jpg');
}
.opinion-chris-martin_lg{
		@include opinionImage-lg ('../images/opinion-images/opinion_chris-martin-lg.jpg');
}

// --------------- Frances Livens-------------- // 

.opinion-frances-livens-sm {
		@include opinionImage-sm ('../images/opinion-images/opinion_frances-livens-sm.jpg');
}
.opinion-frances-livens_lg{
		@include opinionImage-lg ('../images/opinion-images/opinion_frances-livens-lg.jpg');
}



// --------------- nancy-rothwell -------------- // 

.nancy-rothwell-sm {
		@include opinionImage-sm ('../images/opinion-images/nancy-rothwell-sm.png');
}
.nancy-rothwell_lg{
		@include opinionImage-lg ('../images/opinion-images/nancy-rothwell-lg.jpg');
}


.nancy-rothwell-v2-sm {
		@include opinionImage-sm ('../images/opinion-images/nancy-rothwell-v2-sm.png');
}
.nancy-rothwell-v2_lg{
		@include opinionImage-lg ('../images/opinion-images/nancy-rothwell-v2-lg.jpg');
}













// --------------- Heritage Picture feature -------------- // 

.feature_mother-of-the-sea_sm {
		@include backImage ('../images/heritage-images/mother-of-the-sea.jpg');
}
.feature_mother-of-the-sea_lg{
		@include fullwidthImage ('../images/heritage-images/mother-of-the-sea.jpg');
}



// --------------- Beatrice Shilling -------------- // 

.feature_tilly-sm {
		@include backImage ('../images/heritage-images/tilly.jpg');
}
.feature_tilly-lg{
		@include fullwidthImage ('../images/heritage-images/tilly-full.jpg');
}












.header-bes{
		@include fullwidthImage ('../images/feature-images/bes-feature.jpg');
}


