
.header-leadimage{
		background-image: none;
		height: 600px;
		@include breakpoint(md){
		@include fullwidthImage ('../images/feature-images/feature_lemn-main.jpg');
		background-position: 0px 90%!important;
	}
}


.header-leadimage-mobile{
		height: 400px;
 		background-size: cover !important;
		@include fullwidthImage ('../images/feature-images/feature_lemn-main.jpg');
		display: block;
			@include breakpoint(md){
			display: none;
			}
}




// -------------------- FEATURES -------------------- // 

// --------------- Lemn Sissay Feature -------------- // 

.feature-lemn-sissay_sm{
		@include backImage ('../images/feature-images/feature_lemn-graffiti-background_lg.jpg');
}
.feature-lemn-sissay_lg{
		@include fullwidthImage ('../images/feature-images/feature_lemn-main.jpg');
}




// --------------- An adventure through campus -------------- // 

.feature-campus-adventure_sm{
		@include backImage ('../images/feature-images/feature_kids-on-campus.jpg');
}
.feature-campus-adventure_lg{
		@include fullwidthImage ('../images/feature-images/feature_kids-on-campus_lg.jpg');
}





// --------------- 2d Materials -------------- // 

.feature-2d-materials_sm{
		@include backImage ('../images/feature-images/feature_2D-materials_lg.jpg');
}
.feature-2d-materials_lg{
		@include fullwidthImage ('../images/feature-images/feature_2D-materials_lg.jpg');
}


// --------------- BES -------------- // 

.feature-bes_sm{
		@include backImage ('../images/feature-images/feature_bes-lg.jpg');
}
.feature-bes_lg{
		@include fullwidthImage ('../images/feature-images/feature_bes-lg.jpg');
}


// --------------- GDI -------------- // 

.feature-gdi_sm{
		@include backImage ('../images/feature-images/feature_gdi-sm.jpg');
}
.feature-gdi_lg{
		@include fullwidthImage ('../images/feature-images/feature_gdi-sm.jpg');
}




// --------------- Nursing -------------- // 

.feature-nursing_sm{
		@include backImage ('../images/feature-images/feature_nursing-lg.jpg');
}
.feature-nursing_lg{
		@include fullwidthImage ('../images/feature-images/feature_nursing-lg.jpg');
}



// --------------- OPINION -------------- // 


// --------------- Tanja Muller -------------- // 

.opinion-tanja-muller-sm {
		@include opinionImage-sm ('../images/opinion-images/opinion_tanja-muller-sm.png');
}
.opinion-tanja-muller_lg{
		@include opinionImage-lg ('../images/opinion-images/opinion_tanja-muller-sm.png');
}





// --------------- kevin-anderson -------------- // 

.opinion-kevin-anderson-sm {
		@include opinionImage-sm ('../images/opinion-images/opinion_kevin-anderson-sm.png');
}
.opinion-kevin-anderson_lg{
		@include opinionImage-lg ('../images/opinion-images/opinion_kevin-anderson-sm.png');
}



// --------------- Clarissa Giebel -------------- // 

.opinion-clarissa-giebel-sm {
		@include opinionImage-sm ('../images/opinion-images/opinion_clarissa-giebel-sm.png');
}
.opinion-clarissa-giebel_lg{
		@include opinionImage-lg ('../images/opinion-images/opinion_clarissa-giebel-sm.png');
}








// --------------- nancy-rothwell -------------- // 

.nancy-rothwell-sm {
		@include opinionImage-sm ('../images/opinion-images/nancy-rothwell.png');
}
.nancy-rothwell_lg{
		@include forewordImage-lg ('../images/opinion-images/nancy-rothwell.png');
}













// --------------- Heritage Picture feature -------------- // 

.feature_mother-of-the-sea_sm {
		@include backImage ('../images/heritage-images/mother-of-the-sea.jpg');
}
.feature_mother-of-the-sea_lg{
		@include fullwidthImage ('../images/heritage-images/mother-of-the-sea.jpg');
}










.header-bes{
		@include fullwidthImage ('../images/feature-images/bes-feature.jpg');
}


