
$bp-small: 0em; 
$bp-medium: 25em;
$bp-large: 38em; // 608

$breakpoint-no-query-fallbacks: true;


@include border-box-sizing;

.wrap{
  margin: 0px 0px;  
   @include breakpoint(sm) {
    margin: 0px 20px; 
    }
    @include breakpoint(md) {
    margin: 0px 20px; 
    }
}

.container{
  margin: 0 auto;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
  max-width: 1400px;
  @include breakpoint(sm) {
      width: 100%;
  }
  @include breakpoint(md) {
      width: 100%;
  }
}


.filter{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
    .category-filters p, .social-icons p{display: none;}
    .category-filters{min-width: 40%;float: left;padding-right: 15px;}
    .social-icons{min-width: 40%;float: left;}
    ul.category-filters li{float: left; margin: 5px 5px 0px 0px;}
    ul.social-icons li{float: left; margin: 0px 5px 0px 0px;}
    ul.social-icons li a{float: right; margin: 0px 3px 0px 0px;}

     @include breakpoint(md) {
      width: 8%;
      margin-right: 2%;
      float: left;
      .category-filters p, .social-icons p{
        display: block;
      float: right;
      margin-top: 20px;
      min-width: 65px;
      padding-bottom: 7px;
      text-align: right;
      margin-bottom: 0px;}
      .category-filters{max-width: 45%;float: right;padding-right: 0px;padding-bottom: 5px;}
      .social-icons{max-width: 45%;float: right;clear: both;}
        ul.category-filters li{float: right; margin: 5px 0px 5px 0px;}
        ul.social-icons li a{float: right; margin: 0px 0px 5px 0px;}
         
      }
    }



//----------   1st Defining Tag
//----------  Categories type > Defines the type of content: Feature, opinion etc.

.item-tag--feature{
  border-top: 3px solid $feature-colour;
    .categorytag{
    @include categorytag($feature-colour);
    }
  }

.item-tag--opinion{
  border-top: 3px solid $opinion-colour;
    .categorytag{
    @include categorytag($opinion-colour);
    }
  }



//--------- Contains filter tags e.g. feature/opinion etc ------------

.filter{
 

    p{
      color: #fff;
      text-transform: uppercase;
      font-size: 0.6em;
    }
    ul{
      text-decoration: none;
      li{
        text-align: right;
        margin-bottom: 5px;
        a.contentType-button__feature{ @include filterTag($feature-colour); }
        a.contentType-button__opinion{ @include filterTag($opinion-colour); }
        a.contentType-button__video{ @include filterTag($video-colour); }
        a.contentType-button__audio{ @include filterTag($audio-colour); }
        }
      }

  }

ul.social-icons li a{
  text-decoration: none;
  color: #fff;
  border-radius: 50%;
  width: 25px;
  height:  25px;
  display: block;
  text-align:center;
  line-height:28px;
  float: right;
  margin: 0px 5px 3px 20px;
  @include clearfix;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
  &.socicon-linkedin { background-color: #4DA7DE; }
  &.socicon-facebook { background-color: #3E5B98; }
  &.socicon-twitter { background-color: #4DA7DE; }
  &.socicon-rss { background-color: #3371B7; }
  &.socicon-pocket { background-color: #ED4055; }
  &:hover{ opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */}
}


.socicon-linkedin::before{
  font-size: 0.7em;
}
.socicon-facebook::before{
  font-size: 0.7em;
}
.socicon-twitter::before{
  font-size: 0.7em;
}
.socicon-rss::before{
  font-size: 0.7em;
}
.socicon-pocket::before{
  font-size: 0.7em;
}







// .oneup{
// 		height: 300px;
// 		@include breakpoint($large){
// 		@include span(3 of 9);}
// 		background: $module-background-color;
// 		margin-bottom: 10px;
// 		@include border-radius();
// 		@include box-shadow(#000 1px 1xpx 1px);
// 		img{
// 			background: grey;
// 			width: 100%;
// 			height : 150px;
// 		}
// 	}


// .twoup{
		
// 		height: 520px;
// 		@include breakpoint($large){
// 		@include span(6 of 9);}
// 		margin-bottom: 10px;
// 		background: $module-background-color;
// 		@include border-radius();
// 	}


