@import "susy"; 

$susy: (
  container: 960px, 
  columns: 12, 
  gutters: 0.4, 
  global-box-sizing: border-box, 
  // debug: (image: show-columns)
  );

@include border-box-sizing;

.wrap {
  @include container;
  width: 75%;
}

// Masonry Layout
// --------------

// Sets masonry column size
.masonry__column {
  width: span(4);
}

// Sets masonry gutter size
.masonry__gutter {
  width: gutter();
}

.masonry__item {
  // Masonry item with. This is required to determine individual item width
  width: span(4);
  margin-top: gutter();
  }


//----------   1st Defining Tag
//----------  Categories type > Defines the type of content: Feature, opinion etc.

.masonry__item--feature{
  border-top: 3px solid $feature-colour;
    .categorytag{
    @include categorytag($feature-colour);
    }
  }

.masonry__item--opinion{
  border-top: 3px solid $opinion-colour;
    .categorytag{
    @include categorytag($opinion-colour);
    }
  }



//-----------------------------

.filter{
  width: span(1);
  background-color: #fff;
  height: 500px;
  margin-left: -100px;
  padding-top: 20px;
}

//------------------------------


//----------  2nd Defining Tag
//----------  Component size> Defines the size of the box,
//----------  one-up = small box  / two-up = small box spanning two columns
//----------  two-up-dbl = small box spanning two columns, double in height

$block-background-color: $white;

.masonry__item--one-up { 
	width: span(4);
	height: 300px;
	background-color: $block-background-color;
  text-decoration: none;
  color: $darkgray;
  h2{ @include article-title(100%, 50%);} //width & padding top  
  .categorytag{ margin: 0px auto;}   
  &:hover{
    @include hoverBlock();
    }
} //masonry__item--one-up

.masonry__item--two-up { 
	width: span(8);
	height: 300px;
	background-color: $block-background-color;
     opacity: 0.90;
    .categorytag{
    margin: 0px 90px;}
    h2{ 
    @include article-title(50%, 20%); //width & padding top
    margin-left: -5px; }

} //masonry__item--two-up

.masonry__item--two-up-dbl { 
	width: span(8);
	height: 620px;
	background-color: $block-background-color;
    .categorytag{
    margin: 65% 0px 20px -5px;
    @include border-radius(5px);
    font-weight: 400;
    font-style: italic;
    text-transform: none;
    font-size: 1rem;
    padding: 7px;
    width: 200px;
   }
    h2{ 
    @include article-title(60%, 1%); //width & padding top
    margin-left: -10px; }
    &:hover{
      @include hoverBlock();
    }
  }


//------------- additional mark up for flipped layout on opinion block

.masonry__item--one-up--opinion { 
  width: span(4);
  height: 300px;
  background-color: $block-background-color;
  text-decoration: none;
  h2{ @include article-title(100%, 0%);} //width & padding top  
  .categorytag{ margin: 0px auto;}   
  &:hover{
      @include hoverBlock();
    }
} //masonry__item--one-up




// .oneup{
// 		height: 300px;
// 		@include breakpoint($large){
// 		@include span(3 of 9);}
// 		background: $module-background-color;
// 		margin-bottom: 10px;
// 		@include border-radius();
// 		@include box-shadow(#000 1px 1xpx 1px);
// 		img{
// 			background: grey;
// 			width: 100%;
// 			height : 150px;
// 		}
// 	}


// .twoup{
		
// 		height: 520px;
// 		@include breakpoint($large){
// 		@include span(6 of 9);}
// 		margin-bottom: 10px;
// 		background: $module-background-color;
// 		@include border-radius();
// 	}


