@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 729px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 730px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}


@mixin clearspace{
  padding: 0px;
  margin: 0px;
}



@mixin backImage($image) {
	background: url($image);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
  background-color: $white;

       @include breakpoint(md) {
  background-size: cover;
  background-position: top center;
       }
}

// variation for opinion image position bottom
@mixin opinionImage($image) {
  background: url($image);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 60%;
  background-color: $white;}

@mixin fullwidthImage($image) {
  background: url($image);
      display: inline-block;
    font-size: 0;
    width: 100%;
    vertical-align: top;
    background-size: cover;
    background-position:  0 0%;
    background-repeat: no-repeat;
    @include breakpoint(sm) {
    background-size: cover;
    background-position:  0 0%;
  }

     @include breakpoint(lg) {
    background-size: cover;
    background-position:  0 50%;
  }
  }


@mixin article-title($article-title-width, $article-title-margintop, $block-background-color){
    padding:  5%;
    font-weight: 300;
    font-size: 1.4rem;
    z-index: 9999;   
    color: $primary-text-colour!important;
    margin-top: ($article-title-margintop);
    line-height: 115%;
    background-color: $block-background-color;
    display: block;
    width: ($article-title-width);
    line-height: 115%;
    span{
      font-weight: 600;
    }//span
}


@mixin categorytag($feature-colour){
	background-color: ($feature-colour);
	@include border-radius(0px 0px 5px 5px);
	display: block;
  font-weight: 600;
	width: 75px;
	text-align: center;
	color: #fff;
	font-family: $font-primary;
	text-transform: uppercase;
	font-size: 1.2rem;
	padding: 7px 7px 7px 7px;
}

@mixin filterTag($feature-colour){
  background-color: ($feature-colour);
  @include border-radius(5px);
  text-decoration: none;
  width: 100%;
  font-weight: 600;
  text-align: center;
  color: #fff;
  font-family: $font-primary;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 7px 7px 7px 7px;
  margin-bottom: 3px;
}


@mixin hoverBlock{
    cursor: pointer;
    display:block;
    opacity: 0.85;
    background-color: #eaeaea;
    filter: alpha(opacity=40); /* For IE8 and earlier */ 
    transition: 0.5s ease;
    -webkit-filter: grayscale(0.2);
  filter: grayscale(0.2);

}