@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 729px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 730px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}


@mixin clearspace{
  padding: 0px;
  margin: 0px;
}



@mixin backImage($image) {
	background: url($image);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
  background-color: $white;

       @include breakpoint(md) {
  background-size: cover;
  background-position: top center;
       }
}

// variation for opinion image position bottom
@mixin opinionImage-sm($image) {
  background: url($image);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 55%;
  background-color: $white;}

// variation for opinion image position bottom
@mixin forewordImage-lg($image) {
  background: #D3EBEF url($image) no-repeat scroll 85% bottom / auto 90%;
  @include breakpoint(md){
  background: #D3EBEF url($image) no-repeat scroll 80% bottom / auto 80%;
  }
  }

// variation for opinion image position bottom
@mixin opinionImage-lg($image) {
  background: #D3EBEF url($image) no-repeat scroll 70% bottom / auto 50%;
  @include breakpoint(md){
  background: #D3EBEF url($image) no-repeat scroll 80% bottom / auto 70%;
  }
  }


@mixin fullwidthImage($image) {
  background: url($image);
      display: inline-block;
    // font-size: 0;
    width: 100%;background-size: 100%;
    vertical-align: top;
    background-position:  0 0;
    background-repeat: no-repeat;
    

    @include breakpoint(sm) {
    background-size: cover;
    background-position:  0 50%;
  }
  }


@mixin article-title($article-title-width, $article-title-margintop, $block-background-color){
    padding:  5%;
    font-weight: 300;
    font-size: 1.4rem;
    z-index: 9999;   
    color: $primary-text-colour!important;
    margin-top: ($article-title-margintop);
    line-height: 115%;
    background-color: $block-background-color;
    display: block;
    width: ($article-title-width);
    line-height: 115%;
    span{
      font-weight: 600;
    }//span
}

@mixin author-title($article-title-width, $article-title-margintop, $block-background-color){
    padding:  0% 5% 5% 5%;
    padding-top: -5px;
    font-weight: 300;
    font-size: 1.4rem;
    z-index: 9999;   
    color: $darkgray!important;
    margin-top: ($article-title-margintop);
    line-height: 115%;
    background-color: $block-background-color;
    display: block;
    width: ($article-title-width);
    line-height: 115%;
    span{
      font-weight: 600;
    }//span
}



@mixin categorytag($feature-colour){
	background-color: ($feature-colour);
	@include border-radius(0px 0px 5px 5px);
	display: block;
  font-weight: 600;
	width: 75px;
	text-align: center;
	color: #fff;
	font-family: $font-primary;
	text-transform: uppercase;
	font-size: 1.2rem;
	padding: 7px 7px 7px 7px;
}

@mixin filterTag($feature-colour){
  background-color: ($feature-colour);
  @include border-radius(5px);
  text-decoration: none;
  width: 100%;
  font-weight: 600;
  text-align: center;
  color: #fff;
  font-family: $font-primary;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 7px 7px 7px 7px;
  margin-bottom: 3px;
}


@mixin hoverBlock{
    cursor: pointer;
    display:block;
    opacity: 0.85;
    background-color: #eaeaea;
    filter: alpha(opacity=40); /* For IE8 and earlier */ 
    transition: 0.5s ease;
    -webkit-filter: grayscale(0.2);
    filter: grayscale(0.2);

}

@mixin title-h1h2{

      h1{
      color: $primary-text-colour!important;
      width: 100%;
      margin: 0px auto; 
      text-align: center;
      line-height: 98%;
      font-weight: 800;
      padding: 0;
        @include breakpoint(sm){  
        color: $primary-text-colour!important;
        width: 100%;
        margin: 0px auto; 
        text-align: center;
        line-height: 160%;
        font-weight: 800;
        }
     }

     span{
        font-size: 2rem;margin: 0 auto;
        padding: 10px;
        background-color: #fff;
        line-height: 180%;

        padding: 0.8rem 1.2rem 0rem 1.2rem;
        box-decoration-break: clone;
          
          @include breakpoint(sm){  
          padding: 10px;
          background-color: #fff;
          line-height: 150%;
          font-size: 3.8rem;display: inline;
          padding: 0.8rem 1.2rem ;
         /* Needs prefixing */
         -webkit-box-decoration-break: clone;
          }
      }

     h2{
      color: #fff;
      width: 400px;
      padding: 25px 10px 10px 10px;
      color: $primary-text-colour!important;
      line-height: 130%;
      font-size: 1rem;
      text-align: center;
     }
}



