//  full width image



.leadImage{
	height: 500px;
	@include clearspace;
	

	header{
		text-align: center;
		position: relative;
		width: 400px;
		top: 25%;
		left: 50%;
		h1{
			width: 200px;
			margin: 0px auto;	
			text-align: center;
			line-height: 160%;
			font-size: 2rem;
			font-weight: 800;
			display: inline;
			span{
			padding: 10px;
			background-color: #fff;
			box-shadow: 0.2em 0 0 rgba(#fff,1), -0.2em 0 0 rgba(#fff,1);
			}
		 }
		 h2{
			color: #fff;
			width: 400px;
			padding: 25px 10px 10px 10px;

			line-height: 130%;
			font-size: 1rem;
			text-align: center;
		 }
	 }
}


.carousel-text-wrapper{
	width: 75%;
	margin: 0px auto;
	display: block;
	height: 100px;

}

.carousel-text-container{
	margin-top: 350px;
	width: 33%;
	background-color: #fff;
	float: left;
	@include clearfix;
	float: left;
	text-align: center;
	font-family: $font-primary;
	h1{
		padding: 20px 30px 0px 30px;
		font-weight: 400;
		font-style: italic;
		text-transform: none;
		font-size: 1rem;
	}
	p{ 
		padding:  20px 30px 20px 30px;
		font-size: 0.8rem;
	}
}

.carousel-text-container--left{
  z-index: 9999;  box-shadow: 10px 0px 10px #000;


}
.carousel-text-container--center{

}
.carousel-text-container--right{


}