@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,300italic,400italic|Bitter:400,400italic);

$darkgray 		: #343640;
$white		    : #ffffff;
$blue   		: #00d8ff;
$purple			: #751aa3;
$yellow			: #ffcc33;
$orange			: #d65328;
$lightgrey		: #eaeaea;
$lightblue		: #d3ebef;
$green			: #3fa535;

$background-colour: $darkgray;
$module-background-color: $white;
$primary-text-colour: $darkgray;

$hyperlink-colour: $purple;


//  -----> Category <-------  //

$feature-colour: $purple;
$opinion-colour: $blue;
$video-colour: $yellow;
$audio-colour: $orange;
$picture-colour: $orange;
$foreword-colour: $green;




$font-primary: 'Open Sans', sans-serif;
$font-secondary: Bitter, sans-serif;


$default-border-radius: 5px;
$hp-title: 1.5rem;


