$darkgray 		: #343640;
$white		    : #ffffff;


$background-colour: $darkgray;
$module-background-color: $white;

$font-primary: 'Open Sans', serif;
$font-secondary: Brie, serif;



$default-border-radius: 5px;

$hp-title: 1.5rem;