$darkgray 		: #343640;
$white		    : #ffffff;
$blue   		: #00d8ff;
$purple			: #751aa3;
$yellow			: #ffcc33;
$orange			: #d65328;

$background-colour: $darkgray;
$module-background-color: $white;

$primary-text-colour: $darkgray;



$font-primary: 'Open Sans', serif;
$font-secondary: Brie, serif;


//  Catego
$feature-colour: $purple;
$opinion-colour: $blue;




$default-border-radius: 5px;

$hp-title: 1.5rem;
